In [33]:
import pandas as pd
import numpy as np

df = pd.read_csv("../../../archive/high_diamond_ranked_10min.csv")
pd.set_option("display.max_columns", None)

df.head()

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,blueTowersDestroyed,blueTotalGold,blueAvgLevel,blueTotalExperience,blueTotalMinionsKilled,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redWardsPlaced,redWardsDestroyed,redFirstBlood,redKills,redDeaths,redAssists,redEliteMonsters,redDragons,redHeralds,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
0,4519157822,0,28,2,1,9,6,11,0,0,0,0,17210,6.6,17039,195,36,643,-8,19.5,1721.0,15,6,0,6,9,8,0,0,0,0,16567,6.8,17047,197,55,-643,8,19.7,1656.7
1,4523371949,0,12,1,0,5,5,5,0,0,0,0,14712,6.6,16265,174,43,-2908,-1173,17.4,1471.2,12,1,1,5,5,2,2,1,1,1,17620,6.8,17438,240,52,2908,1173,24.0,1762.0
2,4521474530,0,15,0,0,7,11,4,1,1,0,0,16113,6.4,16221,186,46,-1172,-1033,18.6,1611.3,15,3,1,11,7,14,0,0,0,0,17285,6.8,17254,203,28,1172,1033,20.3,1728.5
3,4524384067,0,43,1,0,4,5,5,1,0,1,0,15157,7.0,17954,201,55,-1321,-7,20.1,1515.7,15,2,1,5,4,10,0,0,0,0,16478,7.0,17961,235,47,1321,7,23.5,1647.8
4,4436033771,0,75,4,0,6,6,6,0,0,0,0,16400,7.0,18543,210,57,-1004,230,21.0,1640.0,17,2,1,6,6,7,1,1,0,0,17404,7.0,18313,225,67,1004,-230,22.5,1740.4

In [34]:
df.isna().sum()

gameId                          0
blueWins                        0
blueWardsPlaced                 0
blueWardsDestroyed              0
blueFirstBlood                  0
blueKills                       0
blueDeaths                      0
blueAssists                     0
blueEliteMonsters               0
blueDragons                     0
blueHeralds                     0
blueTowersDestroyed             0
blueTotalGold                   0
blueAvgLevel                    0
blueTotalExperience             0
blueTotalMinionsKilled          0
blueTotalJungleMinionsKilled    0
blueGoldDiff                    0
blueExperienceDiff              0
blueCSPerMin                    0
blueGoldPerMin                  0
redWardsPlaced                  0
redWardsDestroyed               0
redFirstBlood                   0
redKills                        0
redDeaths                       0
redAssists                      0
redEliteMonsters                0
redDragons                      0
redHeralds                      0
redTowersDestroyed              0
redTotalGold                    0
redAvgLevel                     0
redTotalExperience              0
redTotalMinionsKilled           0
redTotalJungleMinionsKilled     0
redGoldDiff                     0
redExperienceDiff               0
redCSPerMin                     0
redGoldPerMin                   0
dtype: int64

In [35]:
df["blueVisionScore"] = df["blueWardsPlaced"]
df["redVisionScore"] = df["redWardsPlaced"]
df = df.drop(["blueWardsPlaced", "redWardsPlaced"], axis = 1)

In [36]:
df = df.drop(["redGoldDiff", "redExperienceDiff", "redFirstBlood", "gameId", "blueTotalGold",
             "blueEliteMonsters", "blueTotalMinionsKilled", "blueTotalExperience", "redEliteMonsters",
             "redTotalGold", "redTotalExperience", "redTotalMinionsKilled", "blueDeaths", "redDeaths"], axis = 1)
df.head()

,blueWins,blueWardsDestroyed,blueFirstBlood,blueKills,blueAssists,blueDragons,blueHeralds,blueTowersDestroyed,blueAvgLevel,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redWardsDestroyed,redKills,redAssists,redDragons,redHeralds,redTowersDestroyed,redAvgLevel,redTotalJungleMinionsKilled,redCSPerMin,redGoldPerMin,blueVisionScore,redVisionScore
0,0,2,1,9,11,0,0,0,6.6,36,643,-8,19.5,1721.0,6,6,8,0,0,0,6.8,55,19.7,1656.7,28,15
1,0,1,0,5,5,0,0,0,6.6,43,-2908,-1173,17.4,1471.2,1,5,2,1,1,1,6.8,52,24.0,1762.0,12,12
2,0,0,0,7,4,1,0,0,6.4,46,-1172,-1033,18.6,1611.3,3,11,14,0,0,0,6.8,28,20.3,1728.5,15,15
3,0,1,0,4,5,0,1,0,7.0,55,-1321,-7,20.1,1515.7,2,5,10,0,0,0,7.0,47,23.5,1647.8,43,15
4,0,4,0,6,6,0,0,0,7.0,57,-1004,230,21.0,1640.0,2,6,7,1,0,0,7.0,67,22.5,1740.4,75,17

In [47]:
df["blueDragons"].value_counts()

0    6303
1    3576
Name: blueDragons, dtype: int64

In [48]:
df.to_csv("../../../archive/blazed_diamond_ranked_10min.csv", index = False)

In [41]:
corr = df.corr().stack().reset_index()
corr["pairs"] = corr["level_0"] + " & " + corr["level_1"]
corr = corr.loc[corr["level_0"] != corr["level_1"]]
corr = corr.drop(["level_0", "level_1"], axis = 1).set_index("pairs")

In [45]:
corr.sort_values(0, ascending = False)

                                           0
pairs
blueGoldDiff & blueExperienceDiff   0.894729
blueExperienceDiff & blueGoldDiff   0.894729
blueGoldPerMin & blueKills          0.888751
blueKills & blueGoldPerMin          0.888751
redKills & redGoldPerMin            0.885728
...                                      ...
redGoldPerMin & blueExperienceDiff -0.721190
blueExperienceDiff & redAvgLevel   -0.721925
redAvgLevel & blueExperienceDiff   -0.721925
redGoldPerMin & blueGoldDiff       -0.804347
blueGoldDiff & redGoldPerMin       -0.804347

[650 rows x 1 columns]

In [24]:
from sklearn.model_selection import train_test_split as tts
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix

X = df.drop("blueWins", axis = 1) 
y = df["blueWins"]

X_train, X_test, y_train, y_test = tts(X, y, random_state = 42)

In [11]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
X_train_scaled = ss.fit_transform(X_train)
X_test_scaled = ss.transform(X_test)

In [14]:
tree = DecisionTreeClassifier()
tree.fit(X_train_scaled, y_train)

y_hat_train = tree.predict(X_train_scaled)
y_hat_test = tree.predict(X_test_scaled)

In [ ]:
from sklearn.metrics import accuracy_score, f1_score

print("train accuracy:", accuracy_score())