In [1]:
import pandas as pd
import requests
import json
from time import sleep
from functools import reduce

In [2]:
ids = pd.read_csv('../../../archive/high_diamond_ranked_10min_no_identical.csv')['gameId']

In [3]:
ids

0     4519157822
1     4523371949
2     4521474530
3     4524384067
4     4436033771
         ...
95    4524217548
96    4499622849
97    4499844894
98    4460534353
99    4495269641
Name: gameId, Length: 100, dtype: int64

In [4]:
champions_list = []
count = 0
for id_ in ids:
    count += 1
    print(count, end = ', ')
    url = f'https://euw1.api.riotgames.com/lol/match/v4/matches/{id_}?api_key=RGAPI-9416670c-0f0d-4381-b0a9-c9e723634458'
    got = requests.get(url)
    match = json.loads(got.text)
    sleep(1.2)
    
    participants = match['participants']
    
    champs = [(p['participantId'], p['teamId'], p['championId'],
               p['timeline']['role'], p['timeline']['lane']) for p in participants]
    champions_list.append(champs)

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100,

In [5]:
df = pd.DataFrame({'champions':champions_list})
df.head()

                                           champions
0  [(1, 100, 111, DUO_SUPPORT, BOTTOM), (2, 100, ...
1  [(1, 100, 4, DUO_SUPPORT, NONE), (2, 100, 350,...
2  [(1, 100, 421, NONE, JUNGLE), (2, 100, 84, SOL...
3  [(1, 100, 64, NONE, JUNGLE), (2, 100, 134, SOL...
4  [(1, 100, 101, DUO, TOP), (2, 100, 266, DUO, T...

In [6]:
df.to_csv(path_or_buf = '../../../archive/champions.csv', index = False)