In [1]:
import pandas as pd
import requests
import json
from time import sleep
from functools import reduce

In [2]:
ids = pd.read_csv('../../../archive/high_diamond_ranked_10min_no_identical.csv')['gameId']

In [3]:
ids

0     4519157822
1     4523371949
2     4521474530
3     4524384067
4     4436033771
         ...
95    4524217548
96    4499622849
97    4499844894
98    4460534353
99    4495269641
Name: gameId, Length: 100, dtype: int64

In [4]:
champ_item_list = []
champ_levels_list = []
count = 0
for id_ in ids:
    count += 1
    print(count, end = ', ')
    url = f'https://euw1.api.riotgames.com/lol/match/v4/timelines/by-match/{id_}?api_key=RGAPI-9416670c-0f0d-4381-b0a9-c9e723634458'
    got = requests.get(url)
    timeline = json.loads(got.text)
    sleep(1.2)

    frames = timeline['frames'][:11]
    events = [frame['events'] for frame in frames]
    events = reduce(lambda a, b: a+b, events)
    item_events = [event for event in events if event['type'].startswith('ITEM')]
    
    champ_items = {i:[] for i in range(1, 11)}
    for event in item_events:
        participant = event['participantId']
        type_ = event['type']
        if type_ == 'ITEM_UNDO':
            if event['beforeId'] != 0:
                champ_items[participant].remove(event['beforeId'])
            else:
                champ_items[participant].append(event['afterId'])
        elif type_ == 'ITEM_PURCHASED':
            item = event['itemId']
            champ_items[participant].append(item)
    
    champ_item_list.append(champ_items)
    
    final = frames[-1]['participantFrames']
    levels = champ_items = {i:None for i in range(1, 11)}
    
    for participant in final.values():
        levels[participant['participantId']] = participant['level']
    
    champ_levels_list.append(levels)

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100,

In [5]:
df = pd.DataFrame({'items':champ_item_list, 'levels': champ_levels_list})
df.head()

,items,levels
0,"{1: [3858, 2003, 3340, 1001, 2003, 1029, 2003,...","{1: 5, 2: 7, 3: 7, 4: 7, 5: 7, 6: 6, 7: 6, 8: ..."
1,"{1: [3340, 2003, 1056, 2003, 1052, 1001, 2003,...","{1: 7, 2: 5, 3: 8, 4: 6, 5: 7, 6: 6, 7: 7, 8: ..."
2,"{1: [1041, 2031, 3340, 3364, 1036, 3706, 1036,...","{1: 6, 2: 8, 3: 5, 4: 6, 5: 7, 6: 6, 7: 6, 8: ..."
3,"{1: [1041, 2031, 3340, 3715, 2055], 2: [1056, ...","{1: 7, 2: 8, 3: 7, 4: 7, 5: 6, 6: 6, 7: 6, 8: ..."
4,"{1: [1056, 2003, 2003, 3340, 1082, 1001, 2055,...","{1: 8, 2: 8, 3: 7, 4: 5, 5: 7, 6: 6, 7: 8, 8: ..."

In [6]:
df.to_csv(path_or_buf = '../../../archive/items-levels.csv', index = False)