In [1]:
import pandas as pd

In [2]:
champs = pd.read_csv('../../../../archive/champions.csv')

In [3]:
champs

                                              champions
0     [(1, 100, 111, 'DUO_SUPPORT', 'BOTTOM'), (2, 1...
1     [(1, 100, 4, 'DUO_SUPPORT', 'NONE'), (2, 100, ...
2     [(1, 100, 421, 'NONE', 'JUNGLE'), (2, 100, 84,...
3     [(1, 100, 64, 'NONE', 'JUNGLE'), (2, 100, 134,...
4     [(1, 100, 101, 'DUO', 'TOP'), (2, 100, 266, 'D...
...                                                 ...
9874  [(1, 100, 21, 'DUO_CARRY', 'BOTTOM'), (2, 100,...
9875  [(1, 100, 432, 'DUO_SUPPORT', 'BOTTOM'), (2, 1...
9876  [(1, 100, 145, 'DUO_CARRY', 'BOTTOM'), (2, 100...
9877  [(1, 100, 38, 'DUO', 'MIDDLE'), (2, 100, 24, '...
9878  [(1, 100, 517, 'DUO', 'MIDDLE'), (2, 100, 267,...

[9879 rows x 1 columns]

In [4]:
sample = champs['champions'].iloc[0]

In [5]:
sample

"[(1, 100, 111, 'DUO_SUPPORT', 'BOTTOM'), (2, 100, 91, 'SOLO', 'MIDDLE'), (3, 100, 236, 'DUO_CARRY', 'BOTTOM'), (4, 100, 76, 'NONE', 'JUNGLE'), (5, 100, 54, 'SOLO', 'TOP'), (6, 200, 26, 'DUO_CARRY', 'BOTTOM'), (7, 200, 235, 'DUO_SUPPORT', 'BOTTOM'), (8, 200, 82, 'SOLO', 'TOP'), (9, 200, 421, 'NONE', 'JUNGLE'), (10, 200, 69, 'SOLO', 'MIDDLE')]"

In [6]:
mess = sample.strip('][').split(', ')[4::5]

In [7]:
mess

["'BOTTOM')",
 "'MIDDLE')",
 "'BOTTOM')",
 "'JUNGLE')",
 "'TOP')",
 "'BOTTOM')",
 "'BOTTOM')",
 "'TOP')",
 "'JUNGLE')",
 "'MIDDLE')"]

In [8]:
cleaned = [lane.strip("')'") for lane in mess]

In [9]:
cleaned

['BOTTOM',
 'MIDDLE',
 'BOTTOM',
 'JUNGLE',
 'TOP',
 'BOTTOM',
 'BOTTOM',
 'TOP',
 'JUNGLE',
 'MIDDLE']

In [10]:
def make_roles(champlist):
    mess = champlist.strip('][').split(', ')[4::5]
    cleaned = [lane.strip("')'") for lane in mess]
    return cleaned

In [11]:
df = pd.read_csv('../../../../archive/with_rates_and_spec_gods.csv')

In [12]:
df['roles'] = champs['champions'].map(make_roles)

In [13]:
df['blueRoles'] = df['roles'].map(lambda x: x[:5])

In [14]:
df['redRoles'] = df['roles'].map(lambda x: x[5:])

In [15]:
def make_conventional(roles):
    bot = 0
    mid = 0
    jung = 0
    top = 0
    for role in roles:
        if role == 'BOTTOM':
            bot += 1
        elif role == 'MIDDLE':
            mid += 1
        elif role == 'JUNGLE':
            jung += 1
        elif role == 'TOP':
            top += 1
    if (bot == 2) and (mid == 1) and (jung == 1) and (top == 1):
        return 1
    return 0

In [16]:
df['blueConventional'] = df['blueRoles'].map(make_conventional)
df['redConventional'] = df['redRoles'].map(make_conventional)

In [17]:
df['blueBottoms'] = df['blueRoles'].map(lambda x: x.count('BOTTOM'))
df['blueMiddles'] = df['blueRoles'].map(lambda x: x.count('MIDDLE'))
df['blueTops'] = df['blueRoles'].map(lambda x: x.count('TOP'))
df['blueJungles'] = df['blueRoles'].map(lambda x: x.count('JUNGLE'))

df['redBottoms'] = df['redRoles'].map(lambda x: x.count('BOTTOM'))
df['redMiddles'] = df['redRoles'].map(lambda x: x.count('MIDDLE'))
df['redTops'] = df['redRoles'].map(lambda x: x.count('TOP'))
df['redJungles'] = df['redRoles'].map(lambda x: x.count('JUNGLE'))

In [18]:
df.to_csv(path_or_buf = '../../../../archive/with_roles.csv', index = False)