In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../../../../archive/3532_items-levels.csv')

In [3]:
df2 = pd.read_csv('../../../../archive/remaining_items-levels.csv')

In [4]:
combined = pd.concat([df1, df2])

In [5]:
combined.to_csv('../../../../archive/items-levels.csv')

In [6]:
levels = combined['levels']

In [7]:
levels

0       {1: 5, 2: 7, 3: 7, 4: 7, 5: 7, 6: 6, 7: 6, 8: ...
1       {1: 7, 2: 5, 3: 8, 4: 6, 5: 7, 6: 6, 7: 7, 8: ...
2       {1: 6, 2: 8, 3: 5, 4: 6, 5: 7, 6: 6, 7: 6, 8: ...
3       {1: 7, 2: 8, 3: 7, 4: 7, 5: 6, 6: 6, 7: 6, 8: ...
4       {1: 8, 2: 8, 3: 7, 4: 5, 5: 7, 6: 6, 7: 8, 8: ...
                              ...
6342    {1: 7, 2: 8, 3: 7, 4: 8, 5: 6, 6: 6, 7: 6, 8: ...
6343    {1: 7, 2: 6, 3: 8, 4: 8, 5: 7, 6: 7, 7: 8, 8: ...
6344    {1: 7, 2: 8, 3: 6, 4: 7, 5: 7, 6: 8, 7: 6, 8: ...
6345    {1: 8, 2: 7, 3: 6, 4: 6, 5: 6, 6: 8, 7: 7, 8: ...
6346    {1: 8, 2: 6, 3: 6, 4: 8, 5: 7, 6: 6, 7: 8, 8: ...
Name: levels, Length: 9879, dtype: object

In [8]:
def to_dict(string):
    to_return = {}
    pairs = string.strip('}{').split(', ')
    for pair in pairs:
        pair = pair.split(': ')
        to_return[pair[0]] = int(pair[1])
    return to_return

In [9]:
levels = levels.map(to_dict)

In [10]:
levels

0       {'1': 5, '2': 7, '3': 7, '4': 7, '5': 7, '6': ...
1       {'1': 7, '2': 5, '3': 8, '4': 6, '5': 7, '6': ...
2       {'1': 6, '2': 8, '3': 5, '4': 6, '5': 7, '6': ...
3       {'1': 7, '2': 8, '3': 7, '4': 7, '5': 6, '6': ...
4       {'1': 8, '2': 8, '3': 7, '4': 5, '5': 7, '6': ...
                              ...
6342    {'1': 7, '2': 8, '3': 7, '4': 8, '5': 6, '6': ...
6343    {'1': 7, '2': 6, '3': 8, '4': 8, '5': 7, '6': ...
6344    {'1': 7, '2': 8, '3': 6, '4': 7, '5': 7, '6': ...
6345    {'1': 8, '2': 7, '3': 6, '4': 6, '5': 6, '6': ...
6346    {'1': 8, '2': 6, '3': 6, '4': 8, '5': 7, '6': ...
Name: levels, Length: 9879, dtype: object

In [11]:
def blues(level_dict):
    blue = []
    for x in range(1,6):
        blue.append(level_dict[str(x)])
    return blue

In [12]:
blueLevels = levels.map(blues)

In [13]:
def reds(level_dict):
    red = []
    for x in range(6,11):
        red.append(level_dict[str(x)])
    return red

In [14]:
redLevels = levels.map(reds)

In [15]:
blueLevels

0       [5, 7, 7, 7, 7]
1       [7, 5, 8, 6, 7]
2       [6, 8, 5, 6, 7]
3       [7, 8, 7, 7, 6]
4       [8, 8, 7, 5, 7]
             ...
6342    [7, 8, 7, 8, 6]
6343    [7, 6, 8, 8, 7]
6344    [7, 8, 6, 7, 7]
6345    [8, 7, 6, 6, 6]
6346    [8, 6, 6, 8, 7]
Name: levels, Length: 9879, dtype: object

In [16]:
redLevels

0       [6, 6, 7, 7, 8]
1       [6, 7, 5, 8, 8]
2       [6, 6, 8, 8, 6]
3       [6, 6, 8, 7, 8]
4       [6, 8, 8, 6, 7]
             ...
6342    [6, 6, 8, 6, 8]
6343    [7, 8, 8, 6, 6]
6344    [8, 6, 9, 7, 7]
6345    [8, 7, 7, 6, 8]
6346    [6, 8, 7, 6, 7]
Name: levels, Length: 9879, dtype: object

In [17]:
level_df = pd.DataFrame({'levels':levels, 'blueLevels':blueLevels,
                        'redLevels':redLevels})

In [18]:
level_df

,levels,blueLevels,redLevels
0,"{'1': 5, '2': 7, '3': 7, '4': 7, '5': 7, '6': ...","[5, 7, 7, 7, 7]","[6, 6, 7, 7, 8]"
1,"{'1': 7, '2': 5, '3': 8, '4': 6, '5': 7, '6': ...","[7, 5, 8, 6, 7]","[6, 7, 5, 8, 8]"
2,"{'1': 6, '2': 8, '3': 5, '4': 6, '5': 7, '6': ...","[6, 8, 5, 6, 7]","[6, 6, 8, 8, 6]"
3,"{'1': 7, '2': 8, '3': 7, '4': 7, '5': 6, '6': ...","[7, 8, 7, 7, 6]","[6, 6, 8, 7, 8]"
4,"{'1': 8, '2': 8, '3': 7, '4': 5, '5': 7, '6': ...","[8, 8, 7, 5, 7]","[6, 8, 8, 6, 7]"
...,...,...,...
6342,"{'1': 7, '2': 8, '3': 7, '4': 8, '5': 6, '6': ...","[7, 8, 7, 8, 6]","[6, 6, 8, 6, 8]"
6343,"{'1': 7, '2': 6, '3': 8, '4': 8, '5': 7, '6': ...","[7, 6, 8, 8, 7]","[7, 8, 8, 6, 6]"
6344,"{'1': 7, '2': 8, '3': 6, '4': 7, '5': 7, '6': ...","[7, 8, 6, 7, 7]","[8, 6, 9, 7, 7]"
6345,"{'1': 8, '2': 7, '3': 6, '4': 6, '5': 6, '6': ...","[8, 7, 6, 6, 6]","[8, 7, 7, 6, 8]"
6346,"{'1': 8, '2': 6, '3': 6, '4': 8, '5': 7, '6': ...","[8, 6, 6, 8, 7]","[6, 8, 7, 6, 7]"

In [19]:
import numpy as np

In [20]:
level_df['blueMaxLevel'] = level_df['blueLevels'].map(max)
level_df['blueMinLevel'] = level_df['blueLevels'].map(min)
level_df['blueSTDLevels'] = level_df['blueLevels'].map(np.std)

level_df['redMaxLevel'] = level_df['redLevels'].map(max)
level_df['redMinLevel'] = level_df['redLevels'].map(min)
level_df['redSTDLevels'] = level_df['redLevels'].map(np.std)

In [21]:
big_df = pd.read_csv('../../../../archive/With_champ_names.csv')

In [22]:
all_df = pd.concat([big_df.reset_index(drop = True), level_df.reset_index(drop = True)], axis = 1)

In [23]:
all_df

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueAssists,blueDragons,blueHeralds,blueTowersDestroyed,...,redJungles,levels,blueLevels,redLevels,blueMaxLevel,blueMinLevel,blueSTDLevels,redMaxLevel,redMinLevel,redSTDLevels
0,4519157822,0,28,2,1,9,11,0,0,0,...,1,"{'1': 5, '2': 7, '3': 7, '4': 7, '5': 7, '6': ...","[5, 7, 7, 7, 7]","[6, 6, 7, 7, 8]",7,5,0.800000,8,6,0.748331
1,4523371949,0,12,1,0,5,5,0,0,0,...,0,"{'1': 7, '2': 5, '3': 8, '4': 6, '5': 7, '6': ...","[7, 5, 8, 6, 7]","[6, 7, 5, 8, 8]",8,5,1.019804,8,5,1.166190
2,4521474530,0,15,0,0,7,4,1,0,0,...,1,"{'1': 6, '2': 8, '3': 5, '4': 6, '5': 7, '6': ...","[6, 8, 5, 6, 7]","[6, 6, 8, 8, 6]",8,5,1.019804,8,6,0.979796
3,4524384067,0,43,1,0,4,5,0,1,0,...,1,"{'1': 7, '2': 8, '3': 7, '4': 7, '5': 6, '6': ...","[7, 8, 7, 7, 6]","[6, 6, 8, 7, 8]",8,6,0.632456,8,6,0.894427
4,4436033771,0,75,4,0,6,6,0,0,0,...,1,"{'1': 8, '2': 8, '3': 7, '4': 5, '5': 7, '6': ...","[8, 8, 7, 5, 7]","[6, 8, 8, 6, 7]",8,5,1.095445,8,6,0.894427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9874,4527873286,1,17,2,1,7,5,1,0,0,...,1,"{'1': 7, '2': 8, '3': 7, '4': 8, '5': 6, '6': ...","[7, 8, 7, 8, 6]","[6, 6, 8, 6, 8]",8,6,0.748331,8,6,0.979796
9875,4527797466,1,54,0,0,6,8,1,0,0,...,1,"{'1': 7, '2': 6, '3': 8, '4': 8, '5': 7, '6': ...","[7, 6, 8, 8, 7]","[7, 8, 8, 6, 6]",8,6,0.748331,8,6,0.894427
9876,4527713716,0,23,1,0,6,5,0,0,0,...,1,"{'1': 7, '2': 8, '3': 6, '4': 7, '5': 7, '6': ...","[7, 8, 6, 7, 7]","[8, 6, 9, 7, 7]",8,6,0.632456,9,6,1.019804
9877,4527628313,0,14,4,1,2,3,1,0,0,...,2,"{'1': 8, '2': 7, '3': 6, '4': 6, '5': 6, '6': ...","[8, 7, 6, 6, 6]","[8, 7, 7, 6, 8]",8,6,0.800000,8,6,0.748331
9878,4523772935,1,18,0,1,6,5,0,0,0,...,1,"{'1': 8, '2': 6, '3': 6, '4': 8, '5': 7, '6': ...","[8, 6, 6, 8, 7]","[6, 8, 7, 6, 7]",8,6,0.894427,8,6,0.748331

In [24]:
all_df.to_csv(path_or_buf = '../../../../archive/All_high_diamond.csv', index = False)