In [1]:
import pandas as pd
import numpy as np

from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, roc_auc_score, plot_confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv("../../../archive/No_identical_with_champions.csv")
df.head()

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,blueTowersDestroyed,blueAvgLevel,blueTotalExperience,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redWardsPlaced,redWardsDestroyed,redKills,redAssists,redEliteMonsters,redDragons,redHeralds,redTowersDestroyed,redAvgLevel,redTotalExperience,redTotalJungleMinionsKilled,redCSPerMin,redGoldPerMin,champions
0,4519157822,0,28,2,1,9,11,0,0,0,0,6.6,17039,36,643,-8,19.5,1721.0,15,6,6,8,0,0,0,0,6.8,17047,55,19.7,1656.7,"[(1, 100, 111, 'DUO_SUPPORT', 'BOTTOM'), (2, 1..."
1,4523371949,0,12,1,0,5,5,0,0,0,0,6.6,16265,43,-2908,-1173,17.4,1471.2,12,1,5,2,2,1,1,1,6.8,17438,52,24.0,1762.0,"[(1, 100, 4, 'DUO_SUPPORT', 'NONE'), (2, 100, ..."
2,4521474530,0,15,0,0,7,4,1,1,0,0,6.4,16221,46,-1172,-1033,18.6,1611.3,15,3,11,14,0,0,0,0,6.8,17254,28,20.3,1728.5,"[(1, 100, 421, 'NONE', 'JUNGLE'), (2, 100, 84,..."
3,4524384067,0,43,1,0,4,5,1,0,1,0,7.0,17954,55,-1321,-7,20.1,1515.7,15,2,5,10,0,0,0,0,7.0,17961,47,23.5,1647.8,"[(1, 100, 64, 'NONE', 'JUNGLE'), (2, 100, 134,..."
4,4436033771,0,75,4,0,6,6,0,0,0,0,7.0,18543,57,-1004,230,21.0,1640.0,17,2,6,7,1,1,0,0,7.0,18313,67,22.5,1740.4,"[(1, 100, 101, 'DUO', 'TOP'), (2, 100, 266, 'D..."

In [3]:
df["champions"].head()

0    [(1, 100, 111, 'DUO_SUPPORT', 'BOTTOM'), (2, 1...
1    [(1, 100, 4, 'DUO_SUPPORT', 'NONE'), (2, 100, ...
2    [(1, 100, 421, 'NONE', 'JUNGLE'), (2, 100, 84,...
3    [(1, 100, 64, 'NONE', 'JUNGLE'), (2, 100, 134,...
4    [(1, 100, 101, 'DUO', 'TOP'), (2, 100, 266, 'D...
Name: champions, dtype: object

In [4]:
df["champions"][0]

"[(1, 100, 111, 'DUO_SUPPORT', 'BOTTOM'), (2, 100, 91, 'SOLO', 'MIDDLE'), (3, 100, 236, 'DUO_CARRY', 'BOTTOM'), (4, 100, 76, 'NONE', 'JUNGLE'), (5, 100, 54, 'SOLO', 'TOP'), (6, 200, 26, 'DUO_CARRY', 'BOTTOM'), (7, 200, 235, 'DUO_SUPPORT', 'BOTTOM'), (8, 200, 82, 'SOLO', 'TOP'), (9, 200, 421, 'NONE', 'JUNGLE'), (10, 200, 69, 'SOLO', 'MIDDLE')]"

In [5]:
df["champions"][4]

"[(1, 100, 101, 'DUO', 'TOP'), (2, 100, 266, 'DUO', 'TOP'), (3, 100, 245, 'NONE', 'JUNGLE'), (4, 100, 143, 'DUO_SUPPORT', 'BOTTOM'), (5, 100, 21, 'DUO_CARRY', 'BOTTOM'), (6, 200, 51, 'DUO_CARRY', 'BOTTOM'), (7, 200, 86, 'SOLO', 'TOP'), (8, 200, 69, 'SOLO', 'MIDDLE'), (9, 200, 235, 'DUO_SUPPORT', 'BOTTOM'), (10, 200, 32, 'NONE', 'JUNGLE')]"

In [6]:
df["champions"][16]

"[(1, 100, 134, 'DUO', 'MIDDLE'), (2, 100, 516, 'SOLO', 'TOP'), (3, 100, 421, 'NONE', 'JUNGLE'), (4, 100, 110, 'DUO', 'MIDDLE'), (5, 100, 412, 'DUO_SUPPORT', 'MIDDLE'), (6, 200, 69, 'SOLO', 'MIDDLE'), (7, 200, 59, 'NONE', 'JUNGLE'), (8, 200, 57, 'DUO_CARRY', 'BOTTOM'), (9, 200, 18, 'SOLO', 'TOP'), (10, 200, 235, 'DUO_SUPPORT', 'BOTTOM')]"