In [57]:
import pandas as pd
pd.set_option("display.max_columns", None)

df_1 = pd.read_csv("../../../archive/blazed_diamond_ranked_10min.csv")
df_2 = pd.read_csv("../../../archive/2021_LoL_esports_match_data_from_OraclesElixir_20210713.csv")

In [58]:
df_1.head()

,gameId,blueWins,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueTowersDestroyed,blueAvgLevel,blueTotalExperience,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redWardsDestroyed,redAssists,redDragons,redHeralds,redTowersDestroyed,redAvgLevel,redTotalExperience,redTotalJungleMinionsKilled,redCSPerMin,redGoldPerMin,blueVisionScore,redVisionScore
0,4519157822,0,2,1,9,6,11,0,0,0,6.6,17039,36,643,-8,19.5,1721.0,6,8,0,0,0,6.8,17047,55,19.7,1656.7,28,15
1,4523371949,0,1,0,5,5,5,0,0,0,6.6,16265,43,-2908,-1173,17.4,1471.2,1,2,1,1,1,6.8,17438,52,24.0,1762.0,12,12
2,4521474530,0,0,0,7,11,4,1,0,0,6.4,16221,46,-1172,-1033,18.6,1611.3,3,14,0,0,0,6.8,17254,28,20.3,1728.5,15,15
3,4524384067,0,1,0,4,5,5,0,1,0,7.0,17954,55,-1321,-7,20.1,1515.7,2,10,0,0,0,7.0,17961,47,23.5,1647.8,43,15
4,4436033771,0,4,0,6,6,6,0,0,0,7.0,18543,57,-1004,230,21.0,1640.0,2,7,1,0,0,7.0,18313,67,22.5,1740.4,75,17

In [59]:
df_2.head()

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,playerid,side,position,player,team,champion,ban1,ban2,ban3,ban4,ban5,gamelength,result,kills,deaths,assists,teamkills,teamdeaths,doublekills,triplekills,quadrakills,pentakills,firstblood,firstbloodkill,firstbloodassist,firstbloodvictim,team kpm,ckpm,firstdragon,dragons,opp_dragons,elementaldrakes,opp_elementaldrakes,infernals,mountains,clouds,oceans,dragons (type unknown),elders,opp_elders,firstherald,heralds,opp_heralds,firstbaron,barons,opp_barons,firsttower,towers,opp_towers,firstmidtower,firsttothreetowers,inhibitors,opp_inhibitors,damagetochampions,dpm,damageshare,damagetakenperminute,damagemitigatedperminute,wardsplaced,wpm,wardskilled,wcpm,controlwardsbought,visionscore,vspm,totalgold,earnedgold,earned gpm,earnedgoldshare,goldspent,gspd,total cs,minionkills,monsterkills,monsterkillsownjungle,monsterkillsenemyjungle,cspm,goldat10,xpat10,csat10,opp_goldat10,opp_xpat10,opp_csat10,golddiffat10,xpdiffat10,csdiffat10,killsat10,assistsat10,deathsat10,opp_killsat10,opp_assistsat10,opp_deathsat10,goldat15,xpat15,csat15,opp_goldat15,opp_xpat15,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
0,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1,10.25,1,Blue,top,Khan,DWG KIA,Mordekaiser,Aatrox,Kai'Sa,Pantheon,Aphelios,Lucian,1782,1,7,1,3,23,4,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,20435,688.0471,0.276268,717.7441,933.9731,13,0.4377,5,0.1684,7,25.0,0.8418,12065,8154,274.5455,0.196019,10875.0,NaN,209.0,193.0,16,8,5,7.0370,3421.0,5043.0,73.0,2985.0,4493.0,72.0,436.0,550.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,5407.0,7536.0,114.0,4659.0,7592.0,118.0,748.0,-56.0,-4.0,2.0,0.0,1.0,0.0,1.0,1.0
1,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1,10.25,2,Blue,jng,Canyon,DWG KIA,Graves,Aatrox,Kai'Sa,Pantheon,Aphelios,Lucian,1782,1,7,1,5,23,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,13944,469.4949,0.188514,559.0909,400.5387,10,0.3367,14,0.4714,10,46.0,1.5488,13944,10033,337.8114,0.241189,13850.0,NaN,259.0,41.0,218,110,43,8.7205,3497.0,4314.0,87.0,3055.0,3059.0,62.0,442.0,1255.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,6974.0,8232.0,146.0,4854.0,4827.0,84.0,2120.0,3405.0,62.0,3.0,2.0,0.0,2.0,0.0,3.0
2,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1,10.25,3,Blue,mid,ShowMaker,DWG KIA,Zoe,Aatrox,Kai'Sa,Pantheon,Aphelios,Lucian,1782,1,5,0,8,23,4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,16039,540.0337,0.216837,285.4545,282.6936,11,0.3704,8,0.2694,4,59.0,1.9865,14274,10363,348.9226,0.249122,12700.0,NaN,299.0,250.0,49,17,24,10.0673,3784.0,5171.0,114.0,3301.0,4822.0,91.0,483.0,349.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,6591.0,7827.0,158.0,5013.0,7473.0,143.0,1578.0,354.0,15.0,2.0,3.0,0.0,0.0,0.0,0.0
3,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1,10.25,4,Blue,bot,Ghost,DWG KIA,Miss Fortune,Aatrox,Kai'Sa,Pantheon,Aphelios,Lucian,1782,1,3,2,11,23,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,17202,579.1919,0.232560,339.6296,291.8855,15,0.5051,5,0.1684,7,34.0,1.1448,13097,9186,309.2929,0.220828,11925.0,NaN,292.0,265.0,27,17,4,9.8316,3540.0,3354.0,94.0,3020.0,3053.0,75.0,520.0,301.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,5202.0,5053.0,130.0,5078.0,4951.0,120.0,124.0,102.0,10.0,0.0,4.0,2.0,1.0,1.0,2.0
4,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1,10.25,5,Blue,sup,BeryL,DWG KIA,Galio,Aatrox,Kai'Sa,Pantheon,Aphelios,Lucian,1782,1,1,0,14,23,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6348,213.7374,0.085821,267.8788,781.6162,53,1.7845,13,0.4377,16,90.0,3.0303,7773,3862,130.0337,0.092842,7000.0,NaN,37.0,37.0,0,0,0,1.2458,2049.0,2577.0,14.0,2137.0,2667.0,17.0,-88.0,-90.0,-3.0,0.0,0.0,0.0,0.0,0.0,0.0,3853.0,4681.0,28.0,3405.0,4231.0,25.0,448.0,450.0,3.0,1.0,4.0,0.0,0.0,2.0,2.0

In [60]:
df_2 = df_2.drop(["goldat15", "xpat15", "csat15", "opp_goldat15", "opp_xpat15", "opp_csat15", "golddiffat15", 
                  "xpdiffat15", "csdiffat15", "killsat15", "assistsat15", "deathsat15", "opp_killsat15", 
                 "opp_assistsat15", "opp_deathsat15"], axis = 1)

In [61]:
df_2.head()

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,playerid,side,position,player,team,champion,ban1,ban2,ban3,ban4,ban5,gamelength,result,kills,deaths,assists,teamkills,teamdeaths,doublekills,triplekills,quadrakills,pentakills,firstblood,firstbloodkill,firstbloodassist,firstbloodvictim,team kpm,ckpm,firstdragon,dragons,opp_dragons,elementaldrakes,opp_elementaldrakes,infernals,mountains,clouds,oceans,dragons (type unknown),elders,opp_elders,firstherald,heralds,opp_heralds,firstbaron,barons,opp_barons,firsttower,towers,opp_towers,firstmidtower,firsttothreetowers,inhibitors,opp_inhibitors,damagetochampions,dpm,damageshare,damagetakenperminute,damagemitigatedperminute,wardsplaced,wpm,wardskilled,wcpm,controlwardsbought,visionscore,vspm,totalgold,earnedgold,earned gpm,earnedgoldshare,goldspent,gspd,total cs,minionkills,monsterkills,monsterkillsownjungle,monsterkillsenemyjungle,cspm,goldat10,xpat10,csat10,opp_goldat10,opp_xpat10,opp_csat10,golddiffat10,xpdiffat10,csdiffat10,killsat10,assistsat10,deathsat10,opp_killsat10,opp_assistsat10,opp_deathsat10
0,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1,10.25,1,Blue,top,Khan,DWG KIA,Mordekaiser,Aatrox,Kai'Sa,Pantheon,Aphelios,Lucian,1782,1,7,1,3,23,4,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,20435,688.0471,0.276268,717.7441,933.9731,13,0.4377,5,0.1684,7,25.0,0.8418,12065,8154,274.5455,0.196019,10875.0,NaN,209.0,193.0,16,8,5,7.0370,3421.0,5043.0,73.0,2985.0,4493.0,72.0,436.0,550.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
1,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1,10.25,2,Blue,jng,Canyon,DWG KIA,Graves,Aatrox,Kai'Sa,Pantheon,Aphelios,Lucian,1782,1,7,1,5,23,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,13944,469.4949,0.188514,559.0909,400.5387,10,0.3367,14,0.4714,10,46.0,1.5488,13944,10033,337.8114,0.241189,13850.0,NaN,259.0,41.0,218,110,43,8.7205,3497.0,4314.0,87.0,3055.0,3059.0,62.0,442.0,1255.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1,10.25,3,Blue,mid,ShowMaker,DWG KIA,Zoe,Aatrox,Kai'Sa,Pantheon,Aphelios,Lucian,1782,1,5,0,8,23,4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,16039,540.0337,0.216837,285.4545,282.6936,11,0.3704,8,0.2694,4,59.0,1.9865,14274,10363,348.9226,0.249122,12700.0,NaN,299.0,250.0,49,17,24,10.0673,3784.0,5171.0,114.0,3301.0,4822.0,91.0,483.0,349.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1,10.25,4,Blue,bot,Ghost,DWG KIA,Miss Fortune,Aatrox,Kai'Sa,Pantheon,Aphelios,Lucian,1782,1,3,2,11,23,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,17202,579.1919,0.232560,339.6296,291.8855,15,0.5051,5,0.1684,7,34.0,1.1448,13097,9186,309.2929,0.220828,11925.0,NaN,292.0,265.0,27,17,4,9.8316,3540.0,3354.0,94.0,3020.0,3053.0,75.0,520.0,301.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1,10.25,5,Blue,sup,BeryL,DWG KIA,Galio,Aatrox,Kai'Sa,Pantheon,Aphelios,Lucian,1782,1,1,0,14,23,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6348,213.7374,0.085821,267.8788,781.6162,53,1.7845,13,0.4377,16,90.0,3.0303,7773,3862,130.0337,0.092842,7000.0,NaN,37.0,37.0,0,0,0,1.2458,2049.0,2577.0,14.0,2137.0,2667.0,17.0,-88.0,-90.0,-3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
df_2 = df_2.drop(["ban1", "ban2", "ban3", "ban4", "ban5", "kills", "deaths", "assists", "teamkills", "teamdeaths", 
                  "firstbaron", "barons", "opp_barons", "elders",  "datacompleteness", "year", "playerid"], axis = 1)

In [63]:
df_2.head()

,gameid,url,league,split,playoffs,date,game,patch,side,position,player,team,champion,gamelength,result,doublekills,triplekills,quadrakills,pentakills,firstblood,firstbloodkill,firstbloodassist,firstbloodvictim,team kpm,ckpm,firstdragon,dragons,opp_dragons,elementaldrakes,opp_elementaldrakes,infernals,mountains,clouds,oceans,dragons (type unknown),opp_elders,firstherald,heralds,opp_heralds,firsttower,towers,opp_towers,firstmidtower,firsttothreetowers,inhibitors,opp_inhibitors,damagetochampions,dpm,damageshare,damagetakenperminute,damagemitigatedperminute,wardsplaced,wpm,wardskilled,wcpm,controlwardsbought,visionscore,vspm,totalgold,earnedgold,earned gpm,earnedgoldshare,goldspent,gspd,total cs,minionkills,monsterkills,monsterkillsownjungle,monsterkillsenemyjungle,cspm,goldat10,xpat10,csat10,opp_goldat10,opp_xpat10,opp_csat10,golddiffat10,xpdiffat10,csdiffat10,killsat10,assistsat10,deathsat10,opp_killsat10,opp_assistsat10,opp_deathsat10
0,ESPORTSTMNT03/1632489,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,NaN,0,2021-01-02 07:40:39,1,10.25,Blue,top,Khan,DWG KIA,Mordekaiser,1782,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,20435,688.0471,0.276268,717.7441,933.9731,13,0.4377,5,0.1684,7,25.0,0.8418,12065,8154,274.5455,0.196019,10875.0,NaN,209.0,193.0,16,8,5,7.0370,3421.0,5043.0,73.0,2985.0,4493.0,72.0,436.0,550.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
1,ESPORTSTMNT03/1632489,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,NaN,0,2021-01-02 07:40:39,1,10.25,Blue,jng,Canyon,DWG KIA,Graves,1782,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,13944,469.4949,0.188514,559.0909,400.5387,10,0.3367,14,0.4714,10,46.0,1.5488,13944,10033,337.8114,0.241189,13850.0,NaN,259.0,41.0,218,110,43,8.7205,3497.0,4314.0,87.0,3055.0,3059.0,62.0,442.0,1255.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ESPORTSTMNT03/1632489,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,NaN,0,2021-01-02 07:40:39,1,10.25,Blue,mid,ShowMaker,DWG KIA,Zoe,1782,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,16039,540.0337,0.216837,285.4545,282.6936,11,0.3704,8,0.2694,4,59.0,1.9865,14274,10363,348.9226,0.249122,12700.0,NaN,299.0,250.0,49,17,24,10.0673,3784.0,5171.0,114.0,3301.0,4822.0,91.0,483.0,349.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ESPORTSTMNT03/1632489,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,NaN,0,2021-01-02 07:40:39,1,10.25,Blue,bot,Ghost,DWG KIA,Miss Fortune,1782,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,17202,579.1919,0.232560,339.6296,291.8855,15,0.5051,5,0.1684,7,34.0,1.1448,13097,9186,309.2929,0.220828,11925.0,NaN,292.0,265.0,27,17,4,9.8316,3540.0,3354.0,94.0,3020.0,3053.0,75.0,520.0,301.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ESPORTSTMNT03/1632489,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,NaN,0,2021-01-02 07:40:39,1,10.25,Blue,sup,BeryL,DWG KIA,Galio,1782,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6348,213.7374,0.085821,267.8788,781.6162,53,1.7845,13,0.4377,16,90.0,3.0303,7773,3862,130.0337,0.092842,7000.0,NaN,37.0,37.0,0,0,0,1.2458,2049.0,2577.0,14.0,2137.0,2667.0,17.0,-88.0,-90.0,-3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
df_1.head()

,gameId,blueWins,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueTowersDestroyed,blueAvgLevel,blueTotalExperience,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redWardsDestroyed,redAssists,redDragons,redHeralds,redTowersDestroyed,redAvgLevel,redTotalExperience,redTotalJungleMinionsKilled,redCSPerMin,redGoldPerMin,blueVisionScore,redVisionScore
0,4519157822,0,2,1,9,6,11,0,0,0,6.6,17039,36,643,-8,19.5,1721.0,6,8,0,0,0,6.8,17047,55,19.7,1656.7,28,15
1,4523371949,0,1,0,5,5,5,0,0,0,6.6,16265,43,-2908,-1173,17.4,1471.2,1,2,1,1,1,6.8,17438,52,24.0,1762.0,12,12
2,4521474530,0,0,0,7,11,4,1,0,0,6.4,16221,46,-1172,-1033,18.6,1611.3,3,14,0,0,0,6.8,17254,28,20.3,1728.5,15,15
3,4524384067,0,1,0,4,5,5,0,1,0,7.0,17954,55,-1321,-7,20.1,1515.7,2,10,0,0,0,7.0,17961,47,23.5,1647.8,43,15
4,4436033771,0,4,0,6,6,6,0,0,0,7.0,18543,57,-1004,230,21.0,1640.0,2,7,1,0,0,7.0,18313,67,22.5,1740.4,75,17

In [65]:
df_2 = df_2.drop(["opp_elders", "damageshare", "damagetakenperminute", "damagemitigatedperminute", "firstdragon",
                  "gspd", "inhibitors", "opp_inhibitors"], axis = 1)
df_2.head()

,gameid,url,league,split,playoffs,date,game,patch,side,position,player,team,champion,gamelength,result,doublekills,triplekills,quadrakills,pentakills,firstblood,firstbloodkill,firstbloodassist,firstbloodvictim,team kpm,ckpm,dragons,opp_dragons,elementaldrakes,opp_elementaldrakes,infernals,mountains,clouds,oceans,dragons (type unknown),firstherald,heralds,opp_heralds,firsttower,towers,opp_towers,firstmidtower,firsttothreetowers,damagetochampions,dpm,wardsplaced,wpm,wardskilled,wcpm,controlwardsbought,visionscore,vspm,totalgold,earnedgold,earned gpm,earnedgoldshare,goldspent,total cs,minionkills,monsterkills,monsterkillsownjungle,monsterkillsenemyjungle,cspm,goldat10,xpat10,csat10,opp_goldat10,opp_xpat10,opp_csat10,golddiffat10,xpdiffat10,csdiffat10,killsat10,assistsat10,deathsat10,opp_killsat10,opp_assistsat10,opp_deathsat10
0,ESPORTSTMNT03/1632489,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,NaN,0,2021-01-02 07:40:39,1,10.25,Blue,top,Khan,DWG KIA,Mordekaiser,1782,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20435,688.0471,13,0.4377,5,0.1684,7,25.0,0.8418,12065,8154,274.5455,0.196019,10875.0,209.0,193.0,16,8,5,7.0370,3421.0,5043.0,73.0,2985.0,4493.0,72.0,436.0,550.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
1,ESPORTSTMNT03/1632489,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,NaN,0,2021-01-02 07:40:39,1,10.25,Blue,jng,Canyon,DWG KIA,Graves,1782,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13944,469.4949,10,0.3367,14,0.4714,10,46.0,1.5488,13944,10033,337.8114,0.241189,13850.0,259.0,41.0,218,110,43,8.7205,3497.0,4314.0,87.0,3055.0,3059.0,62.0,442.0,1255.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ESPORTSTMNT03/1632489,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,NaN,0,2021-01-02 07:40:39,1,10.25,Blue,mid,ShowMaker,DWG KIA,Zoe,1782,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16039,540.0337,11,0.3704,8,0.2694,4,59.0,1.9865,14274,10363,348.9226,0.249122,12700.0,299.0,250.0,49,17,24,10.0673,3784.0,5171.0,114.0,3301.0,4822.0,91.0,483.0,349.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ESPORTSTMNT03/1632489,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,NaN,0,2021-01-02 07:40:39,1,10.25,Blue,bot,Ghost,DWG KIA,Miss Fortune,1782,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17202,579.1919,15,0.5051,5,0.1684,7,34.0,1.1448,13097,9186,309.2929,0.220828,11925.0,292.0,265.0,27,17,4,9.8316,3540.0,3354.0,94.0,3020.0,3053.0,75.0,520.0,301.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ESPORTSTMNT03/1632489,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,NaN,0,2021-01-02 07:40:39,1,10.25,Blue,sup,BeryL,DWG KIA,Galio,1782,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7744,0.9091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6348,213.7374,53,1.7845,13,0.4377,16,90.0,3.0303,7773,3862,130.0337,0.092842,7000.0,37.0,37.0,0,0,0,1.2458,2049.0,2577.0,14.0,2137.0,2667.0,17.0,-88.0,-90.0,-3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
df_2 = df_2.drop(["url", "playoffs", "split", "date", "patch", "player", "doublekills", "triplekills", "quadrakills", 
                 "pentakills", "team kpm", "ckpm", "controlwardsbought", "league", "team", "gamelength", "dragons",
                 "opp_dragons", "elementaldrakes", "opp_elementaldrakes", "infernals", "mountains", "clouds", "oceans",
                 "dragons (type unknown)", "firstherald", "heralds", "opp_heralds", "firsttower", "towers", "opp_towers",
                 "firstmidtower", "firsttothreetowers", "damagetochampions", "dpm", "wardsplaced", "wpm", "wardskilled",
                 "wcpm", "controlwardsbought", "visionscore", "vspm", "totalgold", "earnedgold", "earned gpm", "earnedgoldshare",
                 "total cs", "minionkills", "monsterkills", "monsterkillsownjungle", "monsterkillsenemyjungle", "cspm"], axis = 1)

In [67]:
df_2.head()

,gameid,game,side,position,champion,result,firstblood,firstbloodkill,firstbloodassist,firstbloodvictim,goldspent,goldat10,xpat10,csat10,opp_goldat10,opp_xpat10,opp_csat10,golddiffat10,xpdiffat10,csdiffat10,killsat10,assistsat10,deathsat10,opp_killsat10,opp_assistsat10,opp_deathsat10
0,ESPORTSTMNT03/1632489,1,Blue,top,Mordekaiser,1,1.0,1.0,0.0,0.0,10875.0,3421.0,5043.0,73.0,2985.0,4493.0,72.0,436.0,550.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
1,ESPORTSTMNT03/1632489,1,Blue,jng,Graves,1,0.0,0.0,0.0,0.0,13850.0,3497.0,4314.0,87.0,3055.0,3059.0,62.0,442.0,1255.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ESPORTSTMNT03/1632489,1,Blue,mid,Zoe,1,0.0,0.0,0.0,0.0,12700.0,3784.0,5171.0,114.0,3301.0,4822.0,91.0,483.0,349.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ESPORTSTMNT03/1632489,1,Blue,bot,Miss Fortune,1,0.0,0.0,0.0,0.0,11925.0,3540.0,3354.0,94.0,3020.0,3053.0,75.0,520.0,301.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ESPORTSTMNT03/1632489,1,Blue,sup,Galio,1,0.0,0.0,0.0,0.0,7000.0,2049.0,2577.0,14.0,2137.0,2667.0,17.0,-88.0,-90.0,-3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [68]:
df_2 = df_2.drop(["opp_goldat10", "opp_xpat10", "opp_csat10", "firstbloodkill", "firstbloodvictim"], axis = 1)

In [69]:
df_2 = df_2.drop(["game"], axis = 1)
df_2.head(10)

,gameid,side,position,champion,result,firstblood,firstbloodassist,goldspent,goldat10,xpat10,csat10,golddiffat10,xpdiffat10,csdiffat10,killsat10,assistsat10,deathsat10,opp_killsat10,opp_assistsat10,opp_deathsat10
0,ESPORTSTMNT03/1632489,Blue,top,Mordekaiser,1,1.0,0.0,10875.0,3421.0,5043.0,73.0,436.0,550.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
1,ESPORTSTMNT03/1632489,Blue,jng,Graves,1,0.0,0.0,13850.0,3497.0,4314.0,87.0,442.0,1255.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ESPORTSTMNT03/1632489,Blue,mid,Zoe,1,0.0,0.0,12700.0,3784.0,5171.0,114.0,483.0,349.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ESPORTSTMNT03/1632489,Blue,bot,Miss Fortune,1,0.0,0.0,11925.0,3540.0,3354.0,94.0,520.0,301.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ESPORTSTMNT03/1632489,Blue,sup,Galio,1,0.0,0.0,7000.0,2049.0,2577.0,14.0,-88.0,-90.0,-3.0,0.0,0.0,0.0,0.0,0.0,0.0
5,ESPORTSTMNT03/1632489,Red,top,Ornn,0,0.0,0.0,8525.0,2985.0,4493.0,72.0,-436.0,-550.0,-1.0,0.0,0.0,1.0,1.0,0.0,0.0
6,ESPORTSTMNT03/1632489,Red,jng,Kindred,0,0.0,0.0,8500.0,3055.0,3059.0,62.0,-442.0,-1255.0,-25.0,0.0,0.0,0.0,0.0,0.0,0.0
7,ESPORTSTMNT03/1632489,Red,mid,Orianna,0,0.0,0.0,11375.0,3301.0,4822.0,91.0,-483.0,-349.0,-23.0,0.0,0.0,0.0,0.0,0.0,0.0
8,ESPORTSTMNT03/1632489,Red,bot,Ezreal,0,0.0,0.0,9300.0,3020.0,3053.0,75.0,-520.0,-301.0,-19.0,0.0,0.0,0.0,0.0,0.0,0.0
9,ESPORTSTMNT03/1632489,Red,sup,Leona,0,0.0,0.0,5800.0,2137.0,2667.0,17.0,88.0,90.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [70]:
df_teams = df_2.loc[df_2["position"] == "team"]

df_champlist = df_2.loc[df_2["position"] != "team"]

positionlist = list(df_champlist["position"])
champlist = list(df_champlist["champion"])

In [71]:
len(positionlist)

82780

In [72]:
df_champlist["champion"].iloc[0]

'Mordekaiser'

In [73]:
for i in range(0,16556):
    positions = []
    champs = []
    
    for x in range(0,5):        
        pos = positionlist[5*i + x]
        champ = champlist[5*i + x]
        
        champs.append(champ)
        positions.append(pos)
        
    df_teams["champion"].iloc[i] = champs

/Users/jerryhudspeth/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-73-841ed2fd460d>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_teams["champion"].iloc[i] = champs

In [74]:
df_teams = df_teams.drop(["opp_deathsat10", "opp_killsat10", "position", "goldspent"], axis = 1)
df_teams.head()

,gameid,side,champion,result,firstblood,firstbloodassist,goldat10,xpat10,csat10,golddiffat10,xpdiffat10,csdiffat10,killsat10,assistsat10,deathsat10,opp_assistsat10
10,ESPORTSTMNT03/1632489,Blue,"[Mordekaiser, Graves, Zoe, Miss Fortune, Galio]",1,1.0,NaN,16291.0,20459.0,382.0,1793.0,2365.0,65.0,1.0,0.0,0.0,0.0
11,ESPORTSTMNT03/1632489,Red,"[Ornn, Kindred, Orianna, Ezreal, Leona]",0,0.0,NaN,14498.0,18094.0,317.0,-1793.0,-2365.0,-65.0,0.0,0.0,1.0,0.0
22,ESPORTSTMNT03/1632500,Blue,"[Gragas, Graves, Rumble, Kai'Sa, Alistar]",0,1.0,NaN,15623.0,19210.0,340.0,759.0,171.0,-8.0,1.0,3.0,0.0,0.0
23,ESPORTSTMNT03/1632500,Red,"[Ornn, Olaf, Syndra, Miss Fortune, Galio]",1,0.0,NaN,14864.0,19039.0,348.0,-759.0,-171.0,8.0,0.0,0.0,1.0,3.0
34,ESPORTSTMNT03/1632502,Blue,"[Gragas, Graves, Zoe, Yasuo, Alistar]",0,1.0,NaN,15043.0,16987.0,275.0,73.0,-1.0,-24.0,3.0,3.0,2.0,4.0

In [75]:
df_teams["firstbloodassist"] = df_teams["firstbloodassist"].fillna(0.0)
df_teams.head()

,gameid,side,champion,result,firstblood,firstbloodassist,goldat10,xpat10,csat10,golddiffat10,xpdiffat10,csdiffat10,killsat10,assistsat10,deathsat10,opp_assistsat10
10,ESPORTSTMNT03/1632489,Blue,"[Mordekaiser, Graves, Zoe, Miss Fortune, Galio]",1,1.0,0.0,16291.0,20459.0,382.0,1793.0,2365.0,65.0,1.0,0.0,0.0,0.0
11,ESPORTSTMNT03/1632489,Red,"[Ornn, Kindred, Orianna, Ezreal, Leona]",0,0.0,0.0,14498.0,18094.0,317.0,-1793.0,-2365.0,-65.0,0.0,0.0,1.0,0.0
22,ESPORTSTMNT03/1632500,Blue,"[Gragas, Graves, Rumble, Kai'Sa, Alistar]",0,1.0,0.0,15623.0,19210.0,340.0,759.0,171.0,-8.0,1.0,3.0,0.0,0.0
23,ESPORTSTMNT03/1632500,Red,"[Ornn, Olaf, Syndra, Miss Fortune, Galio]",1,0.0,0.0,14864.0,19039.0,348.0,-759.0,-171.0,8.0,0.0,0.0,1.0,3.0
34,ESPORTSTMNT03/1632502,Blue,"[Gragas, Graves, Zoe, Yasuo, Alistar]",0,1.0,0.0,15043.0,16987.0,275.0,73.0,-1.0,-24.0,3.0,3.0,2.0,4.0

In [76]:
df_1.head()

,gameId,blueWins,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueDragons,blueHeralds,blueTowersDestroyed,blueAvgLevel,blueTotalExperience,blueTotalJungleMinionsKilled,blueGoldDiff,blueExperienceDiff,blueCSPerMin,blueGoldPerMin,redWardsDestroyed,redAssists,redDragons,redHeralds,redTowersDestroyed,redAvgLevel,redTotalExperience,redTotalJungleMinionsKilled,redCSPerMin,redGoldPerMin,blueVisionScore,redVisionScore
0,4519157822,0,2,1,9,6,11,0,0,0,6.6,17039,36,643,-8,19.5,1721.0,6,8,0,0,0,6.8,17047,55,19.7,1656.7,28,15
1,4523371949,0,1,0,5,5,5,0,0,0,6.6,16265,43,-2908,-1173,17.4,1471.2,1,2,1,1,1,6.8,17438,52,24.0,1762.0,12,12
2,4521474530,0,0,0,7,11,4,1,0,0,6.4,16221,46,-1172,-1033,18.6,1611.3,3,14,0,0,0,6.8,17254,28,20.3,1728.5,15,15
3,4524384067,0,1,0,4,5,5,0,1,0,7.0,17954,55,-1321,-7,20.1,1515.7,2,10,0,0,0,7.0,17961,47,23.5,1647.8,43,15
4,4436033771,0,4,0,6,6,6,0,0,0,7.0,18543,57,-1004,230,21.0,1640.0,2,7,1,0,0,7.0,18313,67,22.5,1740.4,75,17

In [77]:
df_blue = df_teams.loc[df_teams["side"] == "Blue"]
df_blue.rename(columns = {"champion": "Champion"}, inplace = True)

for column in df_blue.columns:
    df_blue.rename(columns = {column: "blue{}".format(column.title())}, inplace = True)

df_red = df_teams.loc[df_teams["side"] == "Red"]
df_red.rename(columns = {"champion": "Champion"}, inplace = True)

for column in df_red.columns:
    df_red.rename(columns = {column: "red{}".format(column.title())}, inplace = True)

df_total = pd.concat([df_blue.reset_index(drop = True), df_red.reset_index(drop = True)], axis = 1)
df_total.head()

/Users/jerryhudspeth/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,blueGameid,blueSide,blueChampion,blueResult,blueFirstblood,blueFirstbloodassist,blueGoldat10,blueXpat10,blueCsat10,blueGolddiffat10,blueXpdiffat10,blueCsdiffat10,blueKillsat10,blueAssistsat10,blueDeathsat10,blueOpp_Assistsat10,redGameid,redSide,redChampion,redResult,redFirstblood,redFirstbloodassist,redGoldat10,redXpat10,redCsat10,redGolddiffat10,redXpdiffat10,redCsdiffat10,redKillsat10,redAssistsat10,redDeathsat10,redOpp_Assistsat10
0,ESPORTSTMNT03/1632489,Blue,"[Mordekaiser, Graves, Zoe, Miss Fortune, Galio]",1,1.0,0.0,16291.0,20459.0,382.0,1793.0,2365.0,65.0,1.0,0.0,0.0,0.0,ESPORTSTMNT03/1632489,Red,"[Ornn, Kindred, Orianna, Ezreal, Leona]",0,0.0,0.0,14498.0,18094.0,317.0,-1793.0,-2365.0,-65.0,0.0,0.0,1.0,0.0
1,ESPORTSTMNT03/1632500,Blue,"[Gragas, Graves, Rumble, Kai'Sa, Alistar]",0,1.0,0.0,15623.0,19210.0,340.0,759.0,171.0,-8.0,1.0,3.0,0.0,0.0,ESPORTSTMNT03/1632500,Red,"[Ornn, Olaf, Syndra, Miss Fortune, Galio]",1,0.0,0.0,14864.0,19039.0,348.0,-759.0,-171.0,8.0,0.0,0.0,1.0,3.0
2,ESPORTSTMNT03/1632502,Blue,"[Gragas, Graves, Zoe, Yasuo, Alistar]",0,1.0,0.0,15043.0,16987.0,275.0,73.0,-1.0,-24.0,3.0,3.0,2.0,4.0,ESPORTSTMNT03/1632502,Red,"[Rumble, Nidalee, Yone, Miss Fortune, Galio]",1,0.0,0.0,14970.0,16988.0,299.0,-73.0,1.0,24.0,2.0,4.0,3.0,3.0
3,6909-9183,Blue,"[Karma, Pantheon, Syndra, Samira, Leona]",0,1.0,0.0,16177.0,19640.0,380.0,732.0,75.0,20.0,1.0,1.0,0.0,0.0,6909-9183,Red,"[Aatrox, Nidalee, Viktor, Kai'Sa, Galio]",1,0.0,0.0,15445.0,19565.0,360.0,-732.0,-75.0,-20.0,0.0,0.0,1.0,1.0
4,6909-9184,Blue,"[Jax, Hecarim, Orianna, Samira, Alistar]",0,0.0,0.0,16752.0,20020.0,361.0,1502.0,1164.0,40.0,2.0,2.0,1.0,1.0,6909-9184,Red,"[Camille, Lillia, Viktor, Kai'Sa, Maokai]",1,1.0,0.0,15250.0,18856.0,321.0,-1502.0,-1164.0,-40.0,1.0,1.0,2.0,2.0

In [78]:
df_total = df_total.drop(["redGameid", "redSide", "redResult", "redFirstblood", "redGolddiffat10", "redCsdiffat10",
                         "redXpdiffat10", "redKillsat10", "redDeathsat10", "redOpp_Assistsat10"], axis = 1)
df_total.head()

,blueGameid,blueSide,blueChampion,blueResult,blueFirstblood,blueFirstbloodassist,blueGoldat10,blueXpat10,blueCsat10,blueGolddiffat10,blueXpdiffat10,blueCsdiffat10,blueKillsat10,blueAssistsat10,blueDeathsat10,blueOpp_Assistsat10,redChampion,redFirstbloodassist,redGoldat10,redXpat10,redCsat10,redAssistsat10
0,ESPORTSTMNT03/1632489,Blue,"[Mordekaiser, Graves, Zoe, Miss Fortune, Galio]",1,1.0,0.0,16291.0,20459.0,382.0,1793.0,2365.0,65.0,1.0,0.0,0.0,0.0,"[Ornn, Kindred, Orianna, Ezreal, Leona]",0.0,14498.0,18094.0,317.0,0.0
1,ESPORTSTMNT03/1632500,Blue,"[Gragas, Graves, Rumble, Kai'Sa, Alistar]",0,1.0,0.0,15623.0,19210.0,340.0,759.0,171.0,-8.0,1.0,3.0,0.0,0.0,"[Ornn, Olaf, Syndra, Miss Fortune, Galio]",0.0,14864.0,19039.0,348.0,0.0
2,ESPORTSTMNT03/1632502,Blue,"[Gragas, Graves, Zoe, Yasuo, Alistar]",0,1.0,0.0,15043.0,16987.0,275.0,73.0,-1.0,-24.0,3.0,3.0,2.0,4.0,"[Rumble, Nidalee, Yone, Miss Fortune, Galio]",0.0,14970.0,16988.0,299.0,4.0
3,6909-9183,Blue,"[Karma, Pantheon, Syndra, Samira, Leona]",0,1.0,0.0,16177.0,19640.0,380.0,732.0,75.0,20.0,1.0,1.0,0.0,0.0,"[Aatrox, Nidalee, Viktor, Kai'Sa, Galio]",0.0,15445.0,19565.0,360.0,0.0
4,6909-9184,Blue,"[Jax, Hecarim, Orianna, Samira, Alistar]",0,0.0,0.0,16752.0,20020.0,361.0,1502.0,1164.0,40.0,2.0,2.0,1.0,1.0,"[Camille, Lillia, Viktor, Kai'Sa, Maokai]",0.0,15250.0,18856.0,321.0,1.0

In [79]:
df_total = df_total.drop(["blueOpp_Assistsat10", "blueSide"], axis = 1)
df_total.head()

,blueGameid,blueChampion,blueResult,blueFirstblood,blueFirstbloodassist,blueGoldat10,blueXpat10,blueCsat10,blueGolddiffat10,blueXpdiffat10,blueCsdiffat10,blueKillsat10,blueAssistsat10,blueDeathsat10,redChampion,redFirstbloodassist,redGoldat10,redXpat10,redCsat10,redAssistsat10
0,ESPORTSTMNT03/1632489,"[Mordekaiser, Graves, Zoe, Miss Fortune, Galio]",1,1.0,0.0,16291.0,20459.0,382.0,1793.0,2365.0,65.0,1.0,0.0,0.0,"[Ornn, Kindred, Orianna, Ezreal, Leona]",0.0,14498.0,18094.0,317.0,0.0
1,ESPORTSTMNT03/1632500,"[Gragas, Graves, Rumble, Kai'Sa, Alistar]",0,1.0,0.0,15623.0,19210.0,340.0,759.0,171.0,-8.0,1.0,3.0,0.0,"[Ornn, Olaf, Syndra, Miss Fortune, Galio]",0.0,14864.0,19039.0,348.0,0.0
2,ESPORTSTMNT03/1632502,"[Gragas, Graves, Zoe, Yasuo, Alistar]",0,1.0,0.0,15043.0,16987.0,275.0,73.0,-1.0,-24.0,3.0,3.0,2.0,"[Rumble, Nidalee, Yone, Miss Fortune, Galio]",0.0,14970.0,16988.0,299.0,4.0
3,6909-9183,"[Karma, Pantheon, Syndra, Samira, Leona]",0,1.0,0.0,16177.0,19640.0,380.0,732.0,75.0,20.0,1.0,1.0,0.0,"[Aatrox, Nidalee, Viktor, Kai'Sa, Galio]",0.0,15445.0,19565.0,360.0,0.0
4,6909-9184,"[Jax, Hecarim, Orianna, Samira, Alistar]",0,0.0,0.0,16752.0,20020.0,361.0,1502.0,1164.0,40.0,2.0,2.0,1.0,"[Camille, Lillia, Viktor, Kai'Sa, Maokai]",0.0,15250.0,18856.0,321.0,1.0

In [80]:
print(df_total.columns)
print(df_1.columns)

Index(['blueGameid', 'blueChampion', 'blueResult', 'blueFirstblood',
       'blueFirstbloodassist', 'blueGoldat10', 'blueXpat10', 'blueCsat10',
       'blueGolddiffat10', 'blueXpdiffat10', 'blueCsdiffat10', 'blueKillsat10',
       'blueAssistsat10', 'blueDeathsat10', 'redChampion',
       'redFirstbloodassist', 'redGoldat10', 'redXpat10', 'redCsat10',
       'redAssistsat10'],
      dtype='object')
Index(['gameId', 'blueWins', 'blueWardsDestroyed', 'blueFirstBlood',
       'blueKills', 'blueDeaths', 'blueAssists', 'blueDragons', 'blueHeralds',
       'blueTowersDestroyed', 'blueAvgLevel', 'blueTotalExperience',
       'blueTotalJungleMinionsKilled', 'blueGoldDiff', 'blueExperienceDiff',
       'blueCSPerMin', 'blueGoldPerMin', 'redWardsDestroyed', 'redAssists',
       'redDragons', 'redHeralds', 'redTowersDestroyed', 'redAvgLevel',
       'redTotalExperience', 'redTotalJungleMinionsKilled', 'redCSPerMin',
       'redGoldPerMin', 'blueVisionScore', 'redVisionScore'],
      dtype='object')

In [81]:
df_total.rename(columns = {"blueGameid":  "gameId", "blueResult": "blueWins", "blueFirstblood": "blueFirstBlood",
                           "blueFirstbloodassist": "blueFirstBloodAssist", "blueGoldat10": "blueTotalGold",
                          "blueXpat10": "blueTotalExperience", "blueCsat10": "blueTotalCS", 
                           "blueGolddiffat10": "blueGoldDiff", "blueXpdiffat10": "blueExperienceDiff", 
                           "blueKillsat10": "blueKills", "blueAssistsat10": "blueAssists", "blueDeathsat10": "blueDeaths",
                          "blueChampion": "blueChampions", "redChampion": "redChampions",
                          "redFirstbloodassist": "redFirstBloodAssist", "redGoldat10": "redTotalGold", 
                          "redXpat10": "redTotalExperience", "redCsat10": "redTotalCS", "redAssistsat10": "redAssists",
                          "blueCsdiffat10" : "blueCSDiff"},
               inplace = True)

In [82]:
df_total.head()

,gameId,blueChampions,blueWins,blueFirstBlood,blueFirstBloodAssist,blueTotalGold,blueTotalExperience,blueTotalCS,blueGoldDiff,blueExperienceDiff,blueCSDiff,blueKills,blueAssists,blueDeaths,redChampions,redFirstBloodAssist,redTotalGold,redTotalExperience,redTotalCS,redAssists
0,ESPORTSTMNT03/1632489,"[Mordekaiser, Graves, Zoe, Miss Fortune, Galio]",1,1.0,0.0,16291.0,20459.0,382.0,1793.0,2365.0,65.0,1.0,0.0,0.0,"[Ornn, Kindred, Orianna, Ezreal, Leona]",0.0,14498.0,18094.0,317.0,0.0
1,ESPORTSTMNT03/1632500,"[Gragas, Graves, Rumble, Kai'Sa, Alistar]",0,1.0,0.0,15623.0,19210.0,340.0,759.0,171.0,-8.0,1.0,3.0,0.0,"[Ornn, Olaf, Syndra, Miss Fortune, Galio]",0.0,14864.0,19039.0,348.0,0.0
2,ESPORTSTMNT03/1632502,"[Gragas, Graves, Zoe, Yasuo, Alistar]",0,1.0,0.0,15043.0,16987.0,275.0,73.0,-1.0,-24.0,3.0,3.0,2.0,"[Rumble, Nidalee, Yone, Miss Fortune, Galio]",0.0,14970.0,16988.0,299.0,4.0
3,6909-9183,"[Karma, Pantheon, Syndra, Samira, Leona]",0,1.0,0.0,16177.0,19640.0,380.0,732.0,75.0,20.0,1.0,1.0,0.0,"[Aatrox, Nidalee, Viktor, Kai'Sa, Galio]",0.0,15445.0,19565.0,360.0,0.0
4,6909-9184,"[Jax, Hecarim, Orianna, Samira, Alistar]",0,0.0,0.0,16752.0,20020.0,361.0,1502.0,1164.0,40.0,2.0,2.0,1.0,"[Camille, Lillia, Viktor, Kai'Sa, Maokai]",0.0,15250.0,18856.0,321.0,1.0

In [83]:
# df_total.to_csv("../../../archive/2021_LoL_esports_match_data_from_YaBoi_20210713.csv", index = False)

In [56]:
# df_total.to_csv("../../../archive/2021_LoL_esports_match_data_from_spinelessCoward_20210713.csv", index = False)